.benefits {
    background-color: $grey-color;
    padding: 15px 0;
    color: $text-color;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 25px;
        text-align: center;
    }
    &__card {
        &-image {
            max-width: 80%;
            margin: 0 auto;
        }
        &-descr {
            line-height: 22px;
            margin-top: 15px;
            margin-bottom: 25px;
        }

    }
}

@media (max-width: 575px) {
    .benefits {
        &__wrapper {
            grid-template-columns: 1fr;
            padding: 0 45px;
        }
    }
}