.form {
    fieldset {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        font-size: 16px;
    }
    legend {
        margin-left: 15px;
        font-size: 16px;
    }
    &__camp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 210px));
        grid-template-rows: auto;
        grid-auto-rows: auto;
        &-input {
            margin-top: 8px;
            font-size: 16px;
            text-align: center;
        }
    }
    &__way {
        &-input {
            margin-top: 8px;
        }
    }
    &__sex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 210px));
        grid-template-rows: auto;
        grid-auto-rows: auto;
        &-input {
            margin-top: 8px;
        }
    }
    &__name {
        display: grid;
        grid-template: 1fr / 1fr;
        &-input{
            input {
                margin-top: 8px;
                width: 100%;
                height: 26px;
                padding: 6px 12px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                color: $text-color;
                font-size: 16px;
            } 
            input:focus-visible {
                outline: 1px solid $secondary-color;
            }
        }
    }
    &__childBirthday {
        display: grid;
        grid-template: 1fr / 1fr;
        &-input{
            display: flex;
            select {
                margin-top: 8px;
                height: 26px;
                padding: 3px 12px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                color: $text-color
            }
            select#month {
                margin: 8px 10px 0 10px;
                width: 100%;
            }
            select:focus-visible {
                outline: 1px solid $secondary-color;
            }
        }
    }
    &__phone {
        display: grid;
        grid-template: 1fr / 1fr;
        &-input{
            width: 100%;
            input {
                display: block;
                margin-top: 8px;
                width: 50%;
                height: 26px;
                padding: 6px 12px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                color: $text-color
            } 
            input:focus-visible {
                outline: 1px solid $secondary-color;
            }
        }
    }
    &__email {
        display: grid;
        grid-template: 1fr / 1fr;
        &-input{
            width: 100%;
            input {
                display: block;
                margin-top: 8px;
                width: 100%;
                height: 26px;
                padding: 6px 12px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                color: $text-color
            } 
            input:focus-visible {
                outline: 1px solid $secondary-color;
            }
        }
    }
    &__note {
        display: grid;
        grid-template: 1fr / 1fr;
        &-input{
            width: 100%;
            textarea {
                display: block;
                margin-top: 8px;
                width: 100%;
                min-height: 100px;
                padding: 6px 12px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                color: $text-color;
                resize: none;
            } 
            textarea:focus-visible {
                outline: 1px solid $secondary-color;
            }
        }
        label {
            font-size: 12px;
        }
    }
    &__robot {
        display: grid;
        grid-template: 1fr / 1fr;
        &-input{
            width: 100%;
            input {
                display: block;
                margin-top: 8px;
                width: 100%;
                height: 26px;
                padding: 6px 12px;
                border: 1px solid #dfdfdf;
                border-radius: 4px;
                color: $text-color
            } 
            input:focus-visible {
                outline: 1px solid $secondary-color;
            }
        }
    }
    &__total {
        text-align: center;
        #amount {
            font-size: 25px;
        }
    }
}

input {
    font-family: 'Montserrat';
}

@media (max-width: 575px) {
    .form {
        &__childBirthday {
            &-input {
                input {
                    width: 100%;
                }
            }
        }
        &__phone {
            &-input {
                input {
                    width: 100%;
                }
            }
        }
    }
}