.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    z-index: 100;

    &__dialog {
        max-width: 520px;
        margin: 50px auto;
    }
    &__content {
        background-color: $bg-color;
        padding: 20px 20px;
        overflow-y: scroll;
        height: calc(100vh - 100px);
        box-shadow: 0 0 25px rgba(0,0,0, .2);
    }
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: center;
        position: relative;
    }
    &__title {
        margin: 0;
        color: $main-color;
        flex-grow: 1;
        line-height: 35px;
    }
    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px 20px 10px;
        max-width: 60%;
        margin: 0 auto;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        padding: 12px 6px;
        &__line {
            width: 25px;
            height: 2px;
            background-color: #ce0707;;
            &_left {
                transform: rotate(45deg);
            }
            &_right {
                margin-top: -2px;
                transform: rotate(-45deg);
            }
        }
    }
    .divider {
        background-color:#dfdfdf;
    }
    img {
        max-width: 60%;
        display: block;
        margin: 0 auto;
    }
    &-thanks {
        background-color: $bg-color;
        padding: 20px 20px;
        overflow: hidden;
        height: 100%;
        box-shadow: 0 0 25px rgba(0,0,0, .2);
        text-align: center;
        &__header {
            position: relative;
        }
        &__title {
            font-size: 36px;
            font-weight: 300;
        }
        &__descr {
            font-size: 20px;
            margin: 20px;
            margin-top: 40px;
        }
        img {
            max-width: 120px;
            margin: 0 auto;
        }
        .close {
            top: -40px;
            right: -10px;
        }
    }
}

@media (max-width: 575px) {
    .modal {
        &__dialog {
            max-width: 100%;
            margin: 25px;
        }
        &__content {
            height: calc(100vh - 50px);
        }
        &__footer {
            max-width: 100%;
        }
        img {
            max-width: 120px;
        }
    }

}